# ---- PYTHON / FASTAPI ----
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
.env
.env.*
.venv/
venv/
ENV/
env/
pip-log.txt
*.sqlite3
db.sqlite3
instance/
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.spec

# ---- NODE / REACT / NEXT ----
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
.cache/
coverage/
.next/
out/
.env.local
.env.development.local
.env.test.local
.env.production.local

# ---- FLUTTER ----
mobile_flutter/.dart_tool/
mobile_flutter/.flutter-plugins
mobile_flutter/.flutter-plugins-dependencies
mobile_flutter/.packages
mobile_flutter/build/
mobile_flutter/android/.gradle/
mobile_flutter/android/local.properties
mobile_flutter/android/key.properties
mobile_flutter/ios/Pods/
mobile_flutter/ios/.symlinks/

# ---- DOCKER ----
docker-compose.override.yml
.docker/
*.pid
*.log
*.bak
tmp/
logs/

# ---- IDE ----
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
desktop.ini
ehthumbs.db
$RECYCLE.BIN/

# ---- DATA / MEDIA / MODELES ----
media/
uploads/
captures/
videos/
images/temp/
models/
weights/
secrets/
secrets.json
data/
*.pkl
*.pt
*.pth
*.onnx
*.h5
*.ckpt
*.ipynb_checkpoints
*.tmp
*.old
*.dat
*.json.bak
*.csv.bak
__MACOSX/

# ---- POC WEB ----
poc-web/vendor/
poc-web/vendor/**
